* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background: url("images/pattern-mobile.svg") -190px 0 / 380px no-repeat;
}

:root {
    /* text */
    --pale-violet: hsl(276deg 100% 81%);
    --moderate-violet: hsl(276deg 55% 52%);
    --desaturated-dark-violet: hsl(271deg 15% 43%);
    --grayish-blue: hsl(206deg 6% 79%);
    --dark-grayish-violet: hsl(270deg 7% 64%);

    /* gradients */
    --light-magenta: #e942ff;
    --light-violet: #8838ff;

    /* secondary */
    --transparent: hsl(0% 0% 100%);
    --light-grayish-violet: hsl(270deg 20% 96%);
    --very-dark-desaturated-violet: hsl(271deg 36% 24%);
    --very-light-magenta: hsl(289deg 100% 72%);

    /* fonts */
    --font-700: rubikbold;
    --font-500: rubikmedium;
    --font-400: rubikregular;

    /* border */
    --radius: 40px;
    --border: 15px;

    /* width */

    --width: 350px;

    /* height */

    --height-send: 80px;
}

@font-face {
    font-family: RubikBold;
    src:
        url("fonts/Rubik-Bold.woff2") format("woff2"),
        url("fonts/Rubik-Bold.woff") format("woff"),
        url("fonts/Rubik-Bold.ttf") format("truetype");
}

@font-face {
    font-family: RubikMedium;
    src:
        url("fonts/Rubik-Medium.woff2") format("woff2"),
        url("fonts/Rubik-Medium.woff") format("woff"),
        url("fonts/Rubik-Medium.ttf") format("truetype");
}

@font-face {
    font-family: RubikRegular;
    src:
        url("fonts/Rubik-Regular.woff2") format("woff2"),
        url("fonts/Rubik-Regular.woff") format("woff"),
        url("fonts/Rubik-Regular.ttf") format("truetype");
}

.container-description {
    text-align: center;
    width: 300px;
}

.title {
    font-family: var(--font-700);
    color: var(--desaturated-dark-violet);
}

.paragraph {
    font-family: var(--font-400);
}

.container-mobile {
    scale: 0.8;
    overflow: hidden;
    width: var(--width);
    position: relative;
    flex-flow: column nowrap;
    border: var(--border) solid var(--light-grayish-violet);
    border-radius: calc(var(--radius) + var(--border));
    box-shadow: 15px 15px 50px var(--desaturated-dark-violet);
}

.top-fix {
    position: relative;
    background-color: var(--dark-grayish-violet);
}

.block-top {
    padding-top: 25px;
    display: flex;
    flex-flow: row nowrap;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(to left, var(--light-magenta), var(--light-violet));
    align-items: center;
    justify-content: space-between;
}

.left-section {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 5px;
    margin: 20px 15px;
}

.dots {
    width: 20px;
    height: 20px;
    margin: 20px 15px;
}

.arrow-top {
    width: 15px;
    height: 15px;
}

.avatar-user {
    overflow: hidden;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid var(--light-grayish-violet);
}

.user-text {
    color: var(--light-grayish-violet);
}

.name-user {
    font-family: var(--font-500);
    font-size: 1.2em;
}

.user-status {
    font-family: var(--font-400);
    opacity: 0.7;
    font-size: 0.9em;
}

.chat-container {
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--dark-grayish-violet);
    gap: 15px;
    overflow-y: auto;
    max-height: 500px;
}

.container-message-friend {
    margin-left: 10px;
    color: var(--moderate-violet);
    max-width: 170px;
    background-color: var(--pale-violet);
    border-radius: 10px 10px 10px 5px;
}

.container-message-me {
    color: var(--moderate-violet);
    background-color: var(--grayish-blue);
}

[class^="container-img"] {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    max-width: 170px;
    gap: 10px;
}

[class^="container-message"] {
    font-family: var(--font-400);
    max-width: 170px;
    padding: 12.5px;
    font-size: 0.7em;
}

[class$="me"] {
    align-self: end;
    margin-right: 10px;
    border-radius: 10px 10px 5px;
}

[class$="friend"] {
    margin-left: 10px;
}

.img-chat {
    width: 50px;
    height: 50px;
    border-radius: calc(var(--radius) - 30px);
}

.detail {
    font-family: var(--font-400);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 0.7em;
    margin: 10px;
    gap: 10px;
}

[class*="tip"] {
    border-radius: 10px 10px 10px 5px;
    width: 225px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, var(--light-magenta), var(--light-violet));
    color: var(--light-grayish-violet);
}

[class$="tip-me"] {
    border-radius: 10px 10px 5px;
    background: linear-gradient(to left, var(--light-magenta), var(--light-violet));
    color: var(--light-grayish-violet);
}

.circle {
    width: 15px;
    height: 15px;
}

.amount {
    margin: 10px;
    font-family: var(--font-700);
}

/* send */

.send-fix {
    background-color: var(--dark-grayish-violet);
}

.container-send {
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: var(--light-grayish-violet);
    border: var(--border) solid var(--dark-grayish-violet);
    border-radius: calc(var(--radius) + var(--border));
}

.input-text {
    width: calc(var(--width) - 110px);
    border: none;
    background: none;
    outline: none;
    color: var(--desaturated-dark-violet);
}

.button-send {
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: var(--desaturated-dark-violet);
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-send {
    width: 30px;
    height: 30px;
    transform: rotateY(180deg);
}

.chat-container::-webkit-scrollbar {
    width: 7px;
}

.chat-container::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, var(--light-magenta), var(--light-violet));
    border-radius: 7px;
}

.input-text::placeholder {
    color: var(--desaturated-dark-violet);
    font-family: var(--font-500);
}

.button-send:active {
    outline: 5px solid var(--moderate-violet);
}

[class$="me"] > .detail {
    order: 5;
}

[class$="me"] > .detail > p {
    order: -5;
}

@media screen and (min-width: 1366px) {
    body {
        background: url("images/pattern-desktop.svg") -50px 0 / 510px no-repeat;
        justify-content: center;
        flex-direction: row;
        min-height: 100vh;
    }

    .container-description {
        text-align: left;
    }
}
